body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:11px;
  width:430px;
  height:880px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:614px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:169px;
  width:373px;
  height:614px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:16px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:118px;
  width:374px;
  height:16px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:134px;
  width:371px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:367px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:142px;
  width:20px;
  height:20px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:145px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:479px;
  width:76px;
  height:13px;
  font-size:10px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:506px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:277px;
  width:371px;
  height:506px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:193px;
  width:100px;
  height:17px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:239px;
  width:100px;
  height:17px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:2px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:224px;
  width:301px;
  height:1px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:486px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:169px;
  width:373px;
  height:486px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:89px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:178px;
  width:355px;
  height:89px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:125px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:528px;
  width:47px;
  height:125px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:134px;
  width:45px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:295px;
  width:156px;
  height:301px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:665px;
  width:118px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:741px;
  width:115px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:295px;
  width:226px;
  height:48px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
