body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:14px;
  width:430px;
  height:880px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:666px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:121px;
  width:373px;
  height:666px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#92DAF8;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:499px;
  width:171px;
  height:16px;
  color:#92DAF8;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:138px;
  width:34px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:433px;
  width:316px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
