body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:26px;
  width:430px;
  height:880px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:16px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:133px;
  width:374px;
  height:16px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:149px;
  width:371px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:367px;
  word-wrap:break-word;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:415px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 241, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:383px;
  width:371px;
  height:415px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:157px;
  width:20px;
  height:20px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:160px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 241, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:184px;
  width:371px;
  height:16px;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:184px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:199px;
  width:371px;
  height:184px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:262px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:536px;
  width:371px;
  height:262px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
  background:inherit;
  background-color:rgba(56, 173, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 245, 247, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:406px;
  width:306px;
  height:40px;
  color:#FFFFFF;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:302px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:26px;
  width:430px;
  height:880px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:16px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:133px;
  width:374px;
  height:16px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:149px;
  width:371px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:367px;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:415px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 241, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:383px;
  width:371px;
  height:415px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:157px;
  width:20px;
  height:20px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:160px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:16px;
  background:inherit;
  background-color:rgba(240, 241, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:184px;
  width:371px;
  height:16px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:184px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:199px;
  width:371px;
  height:184px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:262px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:536px;
  width:371px;
  height:262px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:40px;
  background:inherit;
  background-color:rgba(56, 173, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 245, 247, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:406px;
  width:306px;
  height:40px;
  color:#FFFFFF;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:302px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:665px;
  background:inherit;
  background-color:rgba(178, 178, 178, 0.647058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(178, 178, 178, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:133px;
  width:372px;
  height:665px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:254px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:300px;
  width:310px;
  height:254px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:159px;
  width:50px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
